body{
    background-color: rgb(34,34,34); 
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    flex-direction: column;
    line-height: 15px;
}

ul{
    list-style-type: none;

}

a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

a:hover{
    color: blueviolet;
    transition: 0.3s all;
}


.contato{border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 10px;}

.contato:hover{
    background-color: blueviolet;
    color: white;
}

li{display: inline-block;
margin: 20px;}

h1{
    font-weight: 300;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}


h2{
    font-size: 1.8em;
    line-height: 0.8em;
    margin-bottom: 30px;
}

span{
    color: blueviolet;
}

p{
    max-width: 500px;
    line-height: 20px;
}

img{
    width: 100%;
    max-width: 600px;
    margin-left: 180px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type="submit"] {
    height: 50px;
    width:50%; 
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


form [type="submit"]:hover{
 opacity: .5;

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-right: 10px;
    background-color: rgb(34,34,34); 
    color: white;
}
